WarningsAsErrors: '*'
HeaderFilterRegex: '\.h$'
Checks: "*,\
-bugprone-reserved-identifier,\
-cert-dcl37-c,\
-cert-dcl51-cpp,\
-cert-err58-cpp,\
-cppcoreguidelines-avoid-goto,\
-cppcoreguidelines-avoid-magic-numbers,\
-cppcoreguidelines-avoid-non-const-global-variables,\
-cppcoreguidelines-owning-memory,\
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,\
-cppcoreguidelines-pro-bounds-pointer-arithmetic,\
-cppcoreguidelines-pro-type-cstyle-cast,\
-cppcoreguidelines-pro-type-reinterpret-cast,\
-cppcoreguidelines-special-member-functions,\
-fuchsia-default-arguments-calls,\
-fuchsia-statically-constructed-objects,\
-google-build-using-namespace,\
-google-readability-braces-around-statements,\
-google-readability-casting,\
-google-readability-todo,\
-google-runtime-references,\
-hicpp-avoid-goto,\
-hicpp-braces-around-statements,\
-hicpp-no-array-decay,\
-hicpp-signed-bitwise,\
-hicpp-special-member-functions,\
-llvm-header-guard,\
-llvm-include-order,\
-llvm-qualified-auto,\
-llvmlibc-callee-namespace,\
-llvmlibc-implementation-in-namespace,\
-llvmlibc-restrict-system-libc-headers,\
-misc-non-private-member-variables-in-classes,\
-modernize-use-default-member-init,\
-modernize-use-trailing-return-type,\
-modernize-use-using,\
-readability-braces-around-statements,\
-readability-implicit-bool-conversion,\
-readability-magic-numbers,\
-readability-qualified-auto"
